<table>
  <tr>
    <td class="label col-1">Nº Exame:</td>
    <td class="value col-2">{{ data.study_id }}</td>
    <td class="label col-3">Data:</td>
    <td class="value col-4">{{ data.study_date }}</td>
  </tr>
  <tr>
    <td class="label col-1">Paciente:</td>
    <td class="value col-2">{{ data.patient_name }}</td>
    <td class="label col-3">Idade:</td>
    <td class="value col-4">{{ data.patient_age }} A</td>
  </tr>
</table>