<p>Hi <strong>{{ data.recipient.label() }}</strong>,</p>

<p>The doctor <strong>{{ data.entity.field_study_assignee.entity.label() }}</strong> has just started working on the report for the study <strong>{{ data.entity.id() }}</strong>.</p>

<p>When it's ready for download you will receive a new notification.</p>

<p>Access your <a href="http://connecdom.com.br">Worklist</a> to keep track on all of the studies.</p>

<p>--  ConnecDOM team</p>