<p>Hi <strong>{{ data.recipient.label() }}</strong>,</p>

<p>You have been unassigned from the study <strong>{{ data.entity.id() }}</strong>.</p>

<p>If you have any questions, feel free to <a href="http://connecdom.com.br/contact">contact us</a>.</p>

<p>--  ConnecDOM team</p>