<p>Hi <strong>{{ data.recipient.label() }}</strong>,</p>

<p>You have been assigned to the study <strong>{{ data.entity.id() }}</strong>.</p>

<p>Access your <a href="http://connecdom.com.br/worklist">Worklist</a> to start writing the report.</p>

<p>If you have any questions, feel free to <a href="http://connecdom.com.br/contact">contact us</a>.</p>

<p>--  ConnecDOM team</p>