<p>Hi <strong>{{ data.recipient.label() }}</strong>,</p>

<p>The doctor <strong>{{ data.entity.field_study_assignee.entity.label() }}</strong> has just released the report for the study <strong>{{ data.entity.id() }}</strong>.</p>

<p>Access your <a href="http://connecdom.com.br/worklist">Worklist</a> to download the PDF.</p>

<p>--  ConnecDOM team</p>