<p>Hi <strong>{{ data.recipient.label() }}</strong>,</p>

<p>The new study <strong>{{ data.entity.id() }}</strong> has just been created.</p>

<p>Access your <a href="http://connecdom.com.br/worklist">Worklist</a> to see the details and assign it to a doctor.</p>

<p>--  ConnecDOM team</p>