# Copyright (c) 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
skip-host-cache
skip-name-resolve
query_cache_type = 1
query_cache_size = 128M

[mysql]
max_allowed_packet = 1024M

[mysqldump]
max_allowed_packet = 1024M

default-storage-engine=InnoDB

innodb_log_buffer_size=64M
innodb_buffer_pool_size=64M
innodb_log_file_size=64M

innodb_file_per_table=1

#Max open files
open_files_limit=10000

#Max packets
max_allowed_packet = 1024M

#TO Enable slow query log
#long_query_time=1
#slow_query_log=1
#slow_query_log_file=slow.log
