{#
/**
 * @file study.html.twig
 * Default theme implementation to present Study data.
 *
 * This template is used when viewing Study pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_study()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('study') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
